/* You can add global styles to this file, and also import other style files */
.card{
  border: none !important;
}

.pointer{
  cursor: pointer !important;
}

.container{
  margin-top: 50px !important;
  padding-top: 50px !important;
}